<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <title>Follow No.1</title>

    <style>
      .contain {
        padding: 0;
        margin: 0;
      }
      .header {
        position: absolute;
        height: 140px;
        top: 0;
        right: 0;
        left: 0;
      }
      .main {
        position: absolute;
        top: 140px;
        bottom: 0;
        right: 0;
        left: 0;
        overflow: auto;
      }

     
      
  </style>
</head>

<body>

   <!-- header  -->
   <div class="header">
    <div class="container">

        <br>
        <h2>
          <strong>跟著南伯玩</strong>
          <small class="text-muted"> 旅遊推薦系統</small>
        </h2>
        <br>
        
        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link disabled" href="#">step 1</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">step 2</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#"><strong>step 3</strong></a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">step 4</a>
            </li>
          </ul>

    </div>
</div>





  <!-- main -->

  <div class="main">

    <div class="container">

        <br>
        
        <div class="card">
          <div class="card-body">
          <strong>說明</strong>： 以下是根據您選擇的景點，推薦給您的選項！
          </div>
        </div>

        <br>
        <br>

        <form method="post" action="{{ url_for('result') }}">
        <div>
            <div class="row">
                <div class="col">
                    <label>  景點一.  <br>
                    <p name='location' value='{{ location[0] }}'><h5><strong>{{ location[0] }}</strong></h5></p>
                    <img src="{{ place1_photo }}" width="300" height="200" alt="...">
                    
                    <br>
                    <br>
                  
                       <!-- point1 col-filter -->
                     <p><strong>別人也去:</strong></p>
                    <div class="d-grid gap-2">
                    <div class="btn-group-vertical btn-group-sm" role="group" aria-label="Basic checkbox toggle button group">
                      <input type="checkbox" name="checkbox" class="btn-check" id="col-filter1" autocomplete="off" value="{{ recomList1[0] }}">
                      <label class="btn btn-outline-secondary" for="col-filter1">{{ recomList1[0] }}</label> 
                      
                      <input type="checkbox" name="checkbox" class="btn-check" id="col-filter2" autocomplete="off" value="{{ recomList1[1] }}">
                      <label class="btn btn-outline-secondary" for="col-filter2">{{ recomList1[1] }}</label> 
              
                      <input type="checkbox" name="checkbox" class="btn-check" id="col-filter3" autocomplete="off" value="{{ recomList1[2] }}"> 
                      <label class="btn btn-outline-secondary" for="col-filter3">{{ recomList1[2] }}</label> 
                    </div>
                    </div>

                    <br>
                    <br>
                    <br>


                    <!-- point1 word2vec -->
                    <p><strong>相似景點:</strong></p>
                    <div class="d-grid gap-2">
                    <div class="btn-group-vertical btn-group-sm" role="group" aria-label="Basic checkbox toggle button group">
                      <input type="checkbox" name="checkbox" class="btn-check" id="word2vec1" autocomplete="off" value="{{ word2vec_recommend_1[0] }}">
                      <label class="btn btn-outline-secondary" for="word2vec1">{{ word2vec_recommend_1[0] }}</label> 
                      
                      <input type="checkbox" name="checkbox" class="btn-check" id="word2vec2" autocomplete="off" value="{{ word2vec_recommend_1[1] }}">
                      <label class="btn btn-outline-secondary" for="word2vec2">{{ word2vec_recommend_1[1] }}</label> 
              
                      <input type="checkbox" name="checkbox" class="btn-check" id="word2vec3" autocomplete="off" value="{{ word2vec_recommend_1[2] }}"> 
                      <label class="btn btn-outline-secondary" for="word2vec3">{{ word2vec_recommend_1[2] }}</label> 
                    </div>
                    </div>

                    <br>
                    <br>
                    <br>

                    <!-- restaurant1 -->
                    {% if judge1  %}
                      <p><strong>附近必吃:</strong></p>
                      <div class="d-grid gap-2">
                      <div class="btn-group-vertical btn-group-sm" role="group" aria-label="Basic checkbox toggle button group">
                        <input type="checkbox" name="restaurant" class="btn-check" id="restaurant1" autocomplete="off" value="{{ point1_restaurant[0] }}">
                        <label class="btn btn-outline-secondary" for="restaurant1">{{ point1_restaurant[0] }}</label> 
                        
                        <input type="checkbox" name="restaurant" class="btn-check" id="restaurant2" autocomplete="off" value="{{ point1_restaurant[1] }}">
                        <label class="btn btn-outline-secondary" for="restaurant2">{{ point1_restaurant[1] }}</label> 
                
                        <input type="checkbox" name="restaurant" class="btn-check" id="restaurant3" autocomplete="off" value="{{ point1_restaurant[2] }}"> 
                        <label class="btn btn-outline-secondary" for="restaurant3">{{ point1_restaurant[2] }}</label> 
                      </div>
                      </div>
                    {% else %}
                      <br>
                    {% endif %}

                </div>



                <div class="col">
                    <label>  景點二. <br>
                    <p name='location' value='{{ location[1] }}'><h5><strong>{{ location[1] }}</strong></h5></p>
                    <img src="{{ place2_photo }}" width="300" height="200" alt="...">
                    
                    <br>
                    <br>

                    <!-- checkbox -->
                    <p><strong>別人也去:</strong></p>
                    <div class="d-grid gap-2">
                    <div class="btn-group-vertical btn-group-sm" role="group" aria-label="Basic checkbox toggle button group">
                      <input type="checkbox" name="checkbox" class="btn-check" id="btncheck4" autocomplete="off" value="{{ recomList2[0] }}">
                      <label class="btn btn-outline-secondary" for="btncheck4">{{ recomList2[0] }}</label> 
                      
                      <input type="checkbox" name="checkbox" class="btn-check" id="btncheck5" autocomplete="off" value="{{ recomList2[1] }}">
                      <label class="btn btn-outline-secondary" for="btncheck5">{{ recomList2[1] }}</label> 
              
                      <input type="checkbox" name="checkbox" class="btn-check" id="btncheck6" autocomplete="off" value="{{ recomList2[2] }}"> 
                      <label class="btn btn-outline-secondary" for="btncheck6">{{ recomList2[2] }}</label> 
                    </div>
                    </div>

                    <br>
                    <br>
                    <br>

                    <!-- point2 word2vec -->
                    <p><strong>相似景點:</strong></p>
                    <div class="d-grid gap-2">
                    <div class="btn-group-vertical btn-group-sm" role="group" aria-label="Basic checkbox toggle button group">
                      <input type="checkbox" name="checkbox" class="btn-check" id="word2vec4" autocomplete="off" value="{{ word2vec_recommend_2[0] }}">
                      <label class="btn btn-outline-secondary" for="word2vec4">{{ word2vec_recommend_2[0] }}</label> 
                      
                      <input type="checkbox" name="checkbox" class="btn-check" id="word2vec5" autocomplete="off" value="{{ word2vec_recommend_2[1] }}">
                      <label class="btn btn-outline-secondary" for="word2vec5">{{ word2vec_recommend_2[1] }}</label> 
              
                      <input type="checkbox" name="checkbox" class="btn-check" id="word2vec6" autocomplete="off" value="{{ word2vec_recommend_2[2] }}"> 
                      <label class="btn btn-outline-secondary" for="word2vec6">{{ word2vec_recommend_2[2] }}</label> 
                    </div>
                    </div>

                    <br>
                    <br>
                    <br>

                    <!-- restaurant2 -->
                    {% if judge2  %}
                      <p><strong>附近必吃:</strong></p>
                      <div class="d-grid gap-2">
                      <div class="btn-group-vertical btn-group-sm" role="group" aria-label="Basic checkbox toggle button group">
                        <input type="checkbox" name="restaurant" class="btn-check" id="restaurant4" autocomplete="off" value="{{ point2_restaurant[0] }}">
                        <label class="btn btn-outline-secondary" for="restaurant4">{{ point2_restaurant[0] }}</label> 
                        
                        <input type="checkbox" name="restaurant" class="btn-check" id="restaurant5" autocomplete="off" value="{{ point2_restaurant[1] }}">
                        <label class="btn btn-outline-secondary" for="restaurant5">{{ point2_restaurant[1] }}</label> 
                
                        <input type="checkbox" name="restaurant" class="btn-check" id="restaurant6" autocomplete="off" value="{{ point2_restaurant[2] }}"> 
                        <label class="btn btn-outline-secondary" for="restaurant6">{{ point2_restaurant[2] }}</label> 
                      </div>
                      </div>
                    {% else %}
                      <br>
                    {% endif %}


                      
                  </div>

                <div class="col">
                    <label>  景點三. <br>
                    <p name='location' value='{{ location[2] }}'><h5><strong>{{ location[2] }}</strong></h5></p>
                    <img src="{{ place3_photo }}" width="300" height="200" alt="...">

                    <br>
                    <br>

                    <!-- checkbox -->
                    <p><strong>別人也去:</strong></p>
                    <div class="d-grid gap-2">
                    <div class="btn-group-vertical btn-group-sm" role="group" aria-label="Basic checkbox toggle button group">
                      <input type="checkbox" name="checkbox" class="btn-check" id="btncheck7" autocomplete="off" value="{{ recomList3[0] }}">
                      <label class="btn btn-outline-secondary" for="btncheck7">{{ recomList3[0] }}</label> 
                      
                      <input type="checkbox" name="checkbox" class="btn-check" id="btncheck8" autocomplete="off" value="{{ recomList3[1] }}">
                      <label class="btn btn-outline-secondary" for="btncheck8">{{ recomList3[1] }}</label> 
              
                      <input type="checkbox" name="checkbox" class="btn-check" id="btncheck9" autocomplete="off" value="{{ recomList3[2] }}"> 
                      <label class="btn btn-outline-secondary" for="btncheck9">{{ recomList3[2] }}</label> 
                    </div>
                    </div>

                    <br>
                    <br>
                    <br>

                    <!-- point3 word2vec -->
                    <p><strong>相似景點:</strong></p>
                    <div class="d-grid gap-2">
                    <div class="btn-group-vertical btn-group-sm" role="group" aria-label="Basic checkbox toggle button group">
                      <input type="checkbox" name="checkbox" class="btn-check" id="word2vec7" autocomplete="off" value="{{ word2vec_recommend_3[0] }}">
                      <label class="btn btn-outline-secondary" for="word2vec7">{{ word2vec_recommend_3[0] }}</label> 
                      
                      <input type="checkbox" name="checkbox" class="btn-check" id="word2vec8" autocomplete="off" value="{{ word2vec_recommend_3[1] }}">
                      <label class="btn btn-outline-secondary" for="word2vec8">{{ word2vec_recommend_3[1] }}</label> 
              
                      <input type="checkbox" name="checkbox" class="btn-check" id="word2vec9" autocomplete="off" value="{{ word2vec_recommend_3[2] }}"> 
                      <label class="btn btn-outline-secondary" for="word2vec9">{{ word2vec_recommend_3[2] }}</label> 
                    </div>
                    </div>

                    <br>
                    <br>
                    <br>

                    <!-- restaurant3 -->
                    {% if judge3  %}
                      <p><strong>附近必吃:</strong></p>
                      <div class="d-grid gap-2">
                      <div class="btn-group-vertical btn-group-sm" role="group" aria-label="Basic checkbox toggle button group">
                        <input type="checkbox" name="restaurant" class="btn-check" id="restaurant7" autocomplete="off" value="{{ point3_restaurant[0] }}">
                        <label class="btn btn-outline-secondary" for="restaurant7">{{ point3_restaurant[0] }}</label> 
                        
                        <input type="checkbox" name="restaurant" class="btn-check" id="restaurant8" autocomplete="off" value="{{ point3_restaurant[1] }}">
                        <label class="btn btn-outline-secondary" for="restaurant8">{{ point3_restaurant[1] }}</label> 
                
                        <input type="checkbox" name="restaurant" class="btn-check" id="restaurant9" autocomplete="off" value="{{ point3_restaurant[2] }}"> 
                        <label class="btn btn-outline-secondary" for="restaurant9">{{ point3_restaurant[2] }}</label> 
                      </div>
                      </div>
                    {% else %}
                        <br>
                    {% endif %}


                </div>

            </div>

            <br>
            <br>
            <br>
      </div>

                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button class="btn btn-secondary btn-lg" type="submit">Next</button>
                    </div>
      </form>
      <br>
      <br>
      <br>
  </div>
  </div>
  <br>
  <br>
  <br>
    
</body>

</html>